/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    /* nav bar start */
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/tab2.png");
        width: 35px;
        height: 35px;
        transform: translateX(-15%) !important;
    }
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
        background-color: #ffffff;
        border-radius: 5%;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, .5);
        border-color: none;
        background: #101010;
        border-radius: 5%;
        width: 50px;
        height: 50px;
    }
    .navbar-nav .nav-link {
        text-align: center;
        background: #757474;
        color: #1e1d1d !important;
        font-size: 30px;
    }
    /* nav bar end */
    /* slider part start */
    .slider-content {
        padding-top: 19px;
    }
    .slider-content h2 {
        font-size: 40px;
    }
    .slider-content p {
        padding-top: 5px;
    }
    .slider-all {
        text-align: center;
    }
    .slider-img {
        text-align: center;
    }
    /* slider part end */
    /* feature part start */
    #features-part {
        padding: 40px 0px;
    }
    .features-title p {
        font-size: 15px;
        line-height: 20px;
    }
    /* feature part end */
    .features-title p {
        font-size: 17px;
        line-height: 22px;
    }
    .features-item {
        text-align: center;
    }
    .features-item {
        padding-top: 20px;
    }
    .features-item .feature-icon {
        font-size: 60px;
    }
    .features-item .features-content h5 {
        font-size: 35px;
    }
    .features-item .features-content p {
        font-size: 19px;
        padding: 0px 51px;
    }
    /* contact part start */
    .contact-title h2 {
        font-size: 40px;
    }
    .login-part button {
        margin: 3% 0% 0% 31%;
        width: 200px;
    }
    /* contact part end */
    /* footer part start */
    /* footer part end */
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* nav bar start */
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/tab2.png");
        width: 35px;
        height: 35px;
        transform: translateX(-15%) !important;
    }
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
        background-color: #ffffff;
        border-radius: 5%;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, .5);
        border-color: none;
        background: #101010;
        border-radius: 5%;
        width: 50px;
        height: 50px;
    }
    .navbar-nav .nav-link {
        text-align: center;
        background: #757474;
        color: #1e1d1d !important;
        font-size: 30px;
    }
    /* nav bar end */
    /* slider part start */
    .slider-content {
        padding-top: 19px;
    }
    .slider-content h2 {
        font-size: 40px;
    }
    .slider-content p {
        padding-top: 5px;
    }
    .slider-all {
        text-align: center;
    }
    .slider-img {
        text-align: center;
    }
    /* slider part end */
    /* feature part start */
    .features-title p {
        font-size: 15px;
        line-height: 20px;
    }
    /* feature part end */
    .features-title p {
        font-size: 17px;
        line-height: 22px;
    }
    .features-item {
        text-align: center;
    }
    .features-item {
        padding-top: 20px;
    }
    .features-item .feature-icon {
        font-size: 60px;
    }
    .features-item .features-content h5 {
        font-size: 35px;
    }
    .features-item .features-content p {
        font-size: 19px;
        padding: 0px 51px;
    }
    /* contact part start */
    .sm-btn {
        margin: 0 auto;
        display: inline-block;
    }
    .login-part button {
        margin: 5% 0% 0% 31%;
        width: 200px;
    }
    /* contact part end */
    /* footer part start */
    /* footer part end */
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* nav bar start */
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/tab2.png");
        width: 35px;
        height: 35px;
        transform: translateX(-15%) !important;
    }
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
        background-color: #ffffff;
        border-radius: 5%;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, .5);
        border-color: none;
        background: #101010;
        border-radius: 5%;
        width: 50px;
        height: 50px;
    }
    .navbar-nav .nav-link {
        text-align: center;
        background: #757474;
        color: #1e1d1d !important;
        font-size: 30px;
    }
    /* nav bar end */
    /* slider part start */
    .slider-content {
        padding-top: 19px;
    }
    .slider-content h2 {
        font-size: 40px;
    }
    .slider-content p {
        padding-top: 5px;
    }
    .slider-all {
        text-align: center;
    }
    .slider-img {
        text-align: center;
    }
    /* slider part end */
    /* feature part start */
    .features-title p {
        font-size: 17px;
        line-height: 22px;
    }
    .features-item {
        text-align: center;
    }
    .features-item {
        padding-top: 25px;
    }
    .features-item .feature-icon {
        font-size: 60px;
    }
    .features-item .features-content h5 {
        font-size: 35px;
    }
    .features-item .features-content p {
        font-size: 19px;
        padding: 0px 51px;
    }
    /* feature part end */
    /* contact part start */
    /* contact part end */
    /* footer part start */
    #footer-part {
        padding-bottom: 60px;
    }
    /* footer part end */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* slider part start */
    /* slider part end */
    /* feature part start */
    .features-title p {
        padding: 0% 4%;
    }
    .features-item .feature-icon {
        font-size: 35px;
    }
    .features-item .features-content h5 {
        font-size: 25px;
    }
    .features-item .features-content p {
        font-size: 16px;
    }
    /* feature part end */
    /* contact part start */
    /* contact part end */
    /* footer part start */
    /* footer part end */
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}