body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* header part start */

.headre-area {
    background-color: #ffdd00;
    padding: 50px 0px;
}

.menu-custome ul li a {
    color: #010101 !important;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
}

.menu-custome ul li {
    padding: 0px 30px;
}


/* header part end */


/* slider part start */

#slider-head {
    background-color: #ffdd00;
    padding: 0px 26px 110px 70px;
}

.slider-content {
    padding-top: 80px;
}

.slider-content h2 {
    font-weight: 700;
    padding-bottom: 14px;
    font-size: 29px;
    color: #010101;
}

.slider-content h4 {
    color: #313841;
    font-weight: 400;
    font-size: 20px;
    width: 93%;
}

.slider-content p {
    color: #555555;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    width: 93%;
    font-size: 15px;
    padding-top: 11px;
}

.slider-content ul li {
    padding-top: 15px;
    padding-right: 15px;
}

.slider-content ul li a {
    font-size: 44px;
    color: #010101;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fdf7f7;
    margin-right: 5px;
}

.carousel-indicators {
    bottom: -85px;
}

.carousel-indicators li:hover {
    background-color: #010101;
}

.carousel-indicators>li.active {
    opacity: 1;
    background-color: #010101 !important;
}


/* slider part end */


/* feature part start */

#featerer-part {
    padding: 100px 0px;
}

.tinyone-title h2 {
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 6px;
}

.tinyone-title p {
    color: #5d6773;
    font-size: 18px;
    width: 65%;
    margin: 0 auto;
    line-height: 25px;
    padding-bottom: 80px;
}

.image-card img {
    width: 40px;
    margin-left: 60px;
    padding-top: 25px;
}

.card-titles h5 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 23px;
    padding: 0;
}

.card-titles p {
    color: #898989;
    font-size: 14px;
    padding: 0;
}


/* feature part end */


/* contact part start */

#contcat-part {
    background-color: #010101;
    padding: 100px 0px;
}

.login-form h2 {
    font-size: 35px;
    color: #fcdb00;
    font-weight: 700;
    padding-bottom: 10px;
}

.from-design {
    margin: 0 auto;
}

.login-form p {
    color: #a2a0a0;
    font-size: 19px;
    font-weight: normal;
    width: 70%;
    margin-left: 168px;
    line-height: 25px;
    padding-bottom: 24px;
}

.email-address input {
    width: 585px !important;
    margin-left: 170px;
    padding: 23px 0px 26px 10px;
}

.btn-custome {
    background-color: #ffdd00;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-custome:hover {
    background-color: transparent;
    border-radius: 10px;
    color: #ffdd00;
    border: 2px solid #ffdd00;
}

.icon-custome {
    font-size: 46px;
    font-weight: bold;
    padding-top: 65px;
}

.icon-custome li {
    margin-right: 20px !important;
}

.icon-custome li a {
    color: #ffdd00;
}


/* contact part end */


/* footer part start */

#footer-part {
    background-color: #010101;
    padding: 10px 0px 100px 0px;
}

.link ul li {
    list-style: none;
}

.link ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}

.footer-p p {
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 0px !important;
}


/* footer part start */