body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 150%;
}


/* header part start */

.headre-area {
    background-color: #ffdd00;
    padding: 50px 0px;
}

.menu-custome ul li a {
    color: #010101 !important;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
}

.menu-custome ul li {
    padding: 0px 30px;
}


/* header part end */


/* slider part start */

#slider-head {
    background-color: #ffdd00;
    padding: 0px 26px 110px 70px;
}

.slider-content {
    padding-top: 80px;
}

.slider-content h2 {
    font-weight: 700;
    padding-bottom: 14px;
    font-size: 29px;
    color: #010101;
}

.slider-content h4 {
    color: #313841;
    font-weight: 400;
    font-size: 20px;
    width: 93%;
}

.slider-content p {
    color: #555555;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    width: 93%;
    font-size: 15px;
    padding-top: 11px;
}

.slider-content ul li {
    padding-top: 15px;
    padding-right: 15px;
}

.slider-content ul li a {
    font-size: 44px;
    color: #010101;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fdf7f7;
    margin-right: 5px;
}

.carousel-indicators {
    bottom: -85px;
}

.carousel-indicators li:hover {
    background-color: #010101;
}

.carousel-indicators>li.active {
    opacity: 1;
    background-color: #010101 !important;
}


/* slider part end */


/* feature part start */

#features-part {
    padding: 100px 0px;
}

.features-item {
    padding-top: 80px;
}

.features-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: capitalize;
    color: #101010;
}

.features-title p {
    color: #313841;
    font-size: 19px;
    padding-top: 5px;
    font-family: 'PT Sans', sans-serif;
    padding: 0% 9%;
    line-height: 25px;
}

.feature-part-card {
    padding-top: 20px;
}

.features-item .feature-icon {
    font-size: 40px;
}

.features-item .features-content h5 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
    padding-top: 4px;
    color: #101010;
}

.features-item .features-content p {
    color: #898989;
    font-size: 17px;
    line-height: 22px;
    width: 94%;
}


/* feature part end */


/* contact part start */

#contcat-part {
    background: #010101;
    padding: 90px 0px;
}

.contact-title h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #ffd000;
}

.contact-title p {
    color: #898989;
    font-size: 19px;
    padding: 1% 12% 3% 12%;
    line-height: 25px;
}

.login-part {
    padding-bottom: 80px;
}

.login-part input {
    padding: 25px 20px;
    text-transform: capitalize;
    color: #898989;
}

.login-part button {
    padding: 13px 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.login-part button:hover {
    background-color: transparent;
    border-radius: 10px;
    color: #ffdd00;
    border: 2px solid #ffdd00;
}

.social-media-icon ul li {
    width: 38px;
    height: 38px;
    background: #ffdd00;
    border-radius: 5px;
}

.social-media-icon ul li a {
    font-size: 28px;
    color: #101010;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}


/* contact part end */


/* footer part start */

#footer-part {
    background-color: #010101;
    padding: 10px 0px 100px 0px;
}

.link ul li {
    list-style: none;
}

.link ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}

.footer-p p {
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 0px !important;
}

.footer-p address {
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 0px !important;
}


/* footer part start */